#loading {
  position: fixed;
}

#loading-text {
  margin-top: 20px;
}

#loading-text p {
  margin: 0;
  padding: 0;
}

@property --progress {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

.g-progress {
  margin: auto;
  width: 240px;
  height: 5px;
  border-radius: 25px;
  background: linear-gradient(
    90deg,
    #fff,
    rgb(181, 233, 233) var(--progress),
    transparent 0
  );
  border: 1px solid #eee;
  transition: 0.3s --progress;
}

.position-control {
  z-index: 9999;
  position: absolute;
  bottom: 35px;
  width: 80px;
  height: 80px;
  left: 50%;
  transform: translateX(-50%);
}
.jump-control {
  z-index: 9999;
  position: absolute;
  bottom: 35px;
  width: 60px;
  height: 60px;
  left: 50%;
  transform: translate(190%, -20%);
  border-radius: 100%;
  cursor: pointer;
}
.change-control {
  z-index: 9999;
  position: absolute;
  bottom: 35px;
  width: 60px;
  height: 60px;
  left: 50%;
  transform: translate(-295%, -20%);
  border-radius: 100%;
  cursor: pointer;
}
.change-control > img,
.jump-control:img {
  height: 100%;
  width: 100%;
}
